audlt 테스트셋 분류 정확도 95% 모델을 찾으세요

In [194]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [195]:
adult_train = pd.read_csv('adult.data', header=None)
adult_train.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [196]:
adult_test = pd.read_csv('adult.test', header=None)
adult_test.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K.
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K.
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K.
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K.
4,18,?,103497,Some-college,10,Never-married,?,Own-child,White,Female,0,0,30,United-States,<=50K.

In [197]:
adult_train.columns = ['age', 'workclass', 'fnlwgt', 'education', 'education-num', 'marital-status', 'occupation', 'relationship', 'race', 'sex', 'capital-gain', 'capital-loss', 'hours-per-week', 'native-country', 'money']
adult_test.columns = ['age', 'workclass', 'fnlwgt', 'education', 'education-num', 'marital-status', 'occupation', 'relationship', 'race', 'sex', 'capital-gain', 'capital-loss', 'hours-per-week', 'native-country', 'money']

In [198]:
adult_train.dtypes

age                int64
workclass         object
fnlwgt             int64
education         object
education-num      int64
marital-status    object
occupation        object
relationship      object
race              object
sex               object
capital-gain       int64
capital-loss       int64
hours-per-week     int64
native-country    object
money             object
dtype: object

In [199]:
adult_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
age               32561 non-null int64
workclass         32561 non-null object
fnlwgt            32561 non-null int64
education         32561 non-null object
education-num     32561 non-null int64
marital-status    32561 non-null object
occupation        32561 non-null object
relationship      32561 non-null object
race              32561 non-null object
sex               32561 non-null object
capital-gain      32561 non-null int64
capital-loss      32561 non-null int64
hours-per-week    32561 non-null int64
native-country    32561 non-null object
money             32561 non-null object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [200]:
adult_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16281 entries, 0 to 16280
Data columns (total 15 columns):
age               16281 non-null int64
workclass         16281 non-null object
fnlwgt            16281 non-null int64
education         16281 non-null object
education-num     16281 non-null int64
marital-status    16281 non-null object
occupation        16281 non-null object
relationship      16281 non-null object
race              16281 non-null object
sex               16281 non-null object
capital-gain      16281 non-null int64
capital-loss      16281 non-null int64
hours-per-week    16281 non-null int64
native-country    16281 non-null object
money             16281 non-null object
dtypes: int64(6), object(9)
memory usage: 1.9+ MB

In [201]:
adult_train.iloc[:, -1].unique()

array([' <=50K', ' >50K'], dtype=object)

In [202]:
adult_test.iloc[:, -1].unique()

array([' <=50K.', ' >50K.'], dtype=object)

In [203]:
adult_test = adult_test.replace(' <=50K.', ' <=50K', regex=True)
adult_test = adult_test.replace(' >50K.', ' >50K', regex=True)

In [213]:
#adult = pd.merge(adult_train, adult_test)
#adult = pd.concat(adult_test, axis=0)
#adult = pd.concat([adult_train], axis=0)
# adult = adult_train
# adult = pd.concat([adult_test], axis=1)
adult_train.concat([adult_test], axis=1)

AttributeError: 'DataFrame' object has no attribute 'concat'

In [205]:
adult = pd.get_dummies(adult)

,age,fnlwgt,education-num,capital-gain,capital-loss,hours-per-week,workclass_ ?,workclass_ Federal-gov,workclass_ Local-gov,workclass_ Never-worked,...,native-country_ Scotland,native-country_ South,native-country_ Taiwan,native-country_ Thailand,native-country_ Trinadad&Tobago,native-country_ United-States,native-country_ Vietnam,native-country_ Yugoslavia,money_ <=50K,money_ >50K
0,25,226802,7,0,0,40,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
1,38,89814,9,0,0,50,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
2,28,336951,12,0,0,40,0,0,1,0,...,0,0,0,0,0,1,0,0,0,1
3,44,160323,10,7688,0,40,0,0,0,0,...,0,0,0,0,0,1,0,0,0,1
4,18,103497,10,0,0,30,1,0,0,0,...,0,0,0,0,0,1,0,0,1,0
5,34,198693,6,0,0,30,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
6,29,227026,9,0,0,40,1,0,0,0,...,0,0,0,0,0,1,0,0,1,0
7,63,104626,15,3103,0,32,0,0,0,0,...,0,0,0,0,0,1,0,0,0,1
8,24,369667,10,0,0,40,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
9,55,104996,4,0,0,10,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
10,65,184454,9,6418,0,40,0,0,0,0,...,0,0,0,0,0,1,0,0,0,1
11,36,212465,13,0,0,40,0,1,0,0,...,0,0,0,0,0,1,0,0,1,0
12,26,82091,9,0,0,39,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
13,58,299831,9,0,0,35,1,0,0,0,...,0,0,0,0,0,1,0,0,1,0
14,48,279724,9,3103,0,48,0,0,0,0,...,0,0,0,0,0,1,0,0,0,1
15,43,346189,14,0,0,50,0,0,0,0,...,0,0,0,0,0,1,0,0,0,1
16,20,444554,10,0,0,25,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
17,43,128354,9,0,0,30,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
18,37,60548,9,0,0,20,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
19,40,85019,16,0,0,45,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
20,34,107914,13,0,0,47,0,0,0,0,...,0,0,0,0,0,1,0,0,0,1
21,34,238588,10,0,0,35,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
22,72,132015,4,0,0,6,1,0,0,0,...,0,0,0,0,0,1,0,0,1,0
23,25,220931,13,0,0,43,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
24,25,205947,13,0,0,40,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
25,45,432824,9,7298,0,90,0,0,0,0,...,0,0,0,0,0,1,0,0,0,1
26,22,236427,9,0,0,20,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
27,23,134446,9,0,0,54,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
28,54,99516,9,0,0,35,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
29,32,109282,10,0,0,60,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16251,81,26711,11,2936,0,20,1,0,0,0,...,0,0,0,0,0,1,0,0,1,0
16252,60,117909,11,7688,0,40,0,0,0,0,...,0,0,0,0,0,1,0,0,0,1
16253,39,229647,13,0,1669,40,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
16254,38,149347,14,0,0,50,0,0,0,0,...,0,0,0,0,0,1,0,0,0,1
16255,43,23157,14,0,1902,50,0,0,1,0,...,0,0,0,0,0,1,0,0,0,1
16256,23,93977,9,0,0,40,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
16257,73,159691,10,0,0,40,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
16258,35,176967,10,0,0,40,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
16259,66,344436,9,0,0,8,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
16260,27,430340,10,0,0,45,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
16261,40,202168,15,15024,0,55,0,0,0,0,...,0,0,0,0,0,1,0,0,0,1
16262,51,82720,9,0,0,40,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
16263,22,269623,10,0,0,40,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
16264,64,136405,9,0,0,32,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
16265,50,139347,14,0,0,40,0,0,1,0,...,0,0,0,0,0,0,0,0,0,1
16266,55,224655,9,0,0,32,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
16267,38,247547,11,0,0,40,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
16268,58,292710,12,0,0,36,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
16269,32,173449,9,0,0,40,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
16270,48,285570,9,0,0,40,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
16271,61,89686,9,0,0,48,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
16272,31,440129,9,0,0,40,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
16273,25,350977,9,0,0,40,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
16274,48,349230,14,0,0,40,0,0,1,0,...,0,0,0,0,0,1,0,0,1,0
16275,33,245211,13,0,0,40,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
16276,39,215419,13,0,0,36,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
16277,64,321403,9,0,0,40,1,0,0,0,...,0,0,0,0,0,1,0,0,1,0
16278,38,374983,13,0,0,50,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
16279,44,83891,13,5455,0,40,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
16280,35,182148,13,0,0,60,0,0,0,0,...,0,0,0,0,0,1,0,0,0,1

In [206]:
adult_train.count #[32561 rows x 15 columns]>

<bound method DataFrame.count of        age          workclass  fnlwgt      education  education-num  \
0       39          State-gov   77516      Bachelors             13
1       50   Self-emp-not-inc   83311      Bachelors             13
2       38            Private  215646        HS-grad              9
3       53            Private  234721           11th              7
4       28            Private  338409      Bachelors             13
5       37            Private  284582        Masters             14
6       49            Private  160187            9th              5
7       52   Self-emp-not-inc  209642        HS-grad              9
8       31            Private   45781        Masters             14
9       42            Private  159449      Bachelors             13
10      37            Private  280464   Some-college             10
11      30          State-gov  141297      Bachelors             13
12      23            Private  122272      Bachelors             13
13      32            Private  205019     Assoc-acdm             12
14      40            Private  121772      Assoc-voc             11
15      34            Private  245487        7th-8th              4
16      25   Self-emp-not-inc  176756        HS-grad              9
17      32            Private  186824        HS-grad              9
18      38            Private   28887           11th              7
19      43   Self-emp-not-inc  292175        Masters             14
20      40            Private  193524      Doctorate             16
21      54            Private  302146        HS-grad              9
22      35        Federal-gov   76845            9th              5
23      43            Private  117037           11th              7
24      59            Private  109015        HS-grad              9
25      56          Local-gov  216851      Bachelors             13
26      19            Private  168294        HS-grad              9
27      54                  ?  180211   Some-college             10
28      39            Private  367260        HS-grad              9
29      49            Private  193366        HS-grad              9
...    ...                ...     ...            ...            ...
32531   30                  ?   33811      Bachelors             13
32532   34            Private  204461      Doctorate             16
32533   54            Private  337992      Bachelors             13
32534   37            Private  179137   Some-college             10
32535   22            Private  325033           12th              8
32536   34            Private  160216      Bachelors             13
32537   30            Private  345898        HS-grad              9
32538   38            Private  139180      Bachelors             13
32539   71                  ?  287372      Doctorate             16
32540   45          State-gov  252208        HS-grad              9
32541   41                  ?  202822        HS-grad              9
32542   72                  ?  129912        HS-grad              9
32543   45          Local-gov  119199     Assoc-acdm             12
32544   31            Private  199655        Masters             14
32545   39          Local-gov  111499     Assoc-acdm             12
32546   37            Private  198216     Assoc-acdm             12
32547   43            Private  260761        HS-grad              9
32548   65   Self-emp-not-inc   99359    Prof-school             15
32549   43          State-gov  255835   Some-college             10
32550   43   Self-emp-not-inc   27242   Some-college             10
32551   32            Private   34066           10th              6
32552   43            Private   84661      Assoc-voc             11
32553   32            Private  116138        Masters             14
32554   53            Private  321865        Masters             14
32555   22            Private  310152   Some-college             10
32556   27            Private  257302     Assoc-acdm             12
32557   40            Private  154374        HS-grad              9
32558   58            Private  151910        HS-grad              9
32559   22            Private  201490        HS-grad              9
32560   52       Self-emp-inc  287927        HS-grad              9

               marital-status          occupation     relationship  \
0               Never-married        Adm-clerical    Not-in-family
1          Married-civ-spouse     Exec-managerial          Husband
2                    Divorced   Handlers-cleaners    Not-in-family
3          Married-civ-spouse   Handlers-cleaners          Husband
4          Married-civ-spouse      Prof-specialty             Wife
5          Married-civ-spouse     Exec-managerial             Wife
6       Married-spouse-absent       Other-service    Not-in-family
7          Married-civ-spouse     Exec-managerial          Husband
8               Never-married      Prof-specialty    Not-in-family
9          Married-civ-spouse     Exec-managerial          Husband
10         Married-civ-spouse     Exec-managerial          Husband
11         Married-civ-spouse      Prof-specialty          Husband
12              Never-married        Adm-clerical        Own-child
13              Never-married               Sales    Not-in-family
14         Married-civ-spouse        Craft-repair          Husband
15         Married-civ-spouse    Transport-moving          Husband
16              Never-married     Farming-fishing        Own-child
17              Never-married   Machine-op-inspct        Unmarried
18         Married-civ-spouse               Sales          Husband
19                   Divorced     Exec-managerial        Unmarried
20         Married-civ-spouse      Prof-specialty          Husband
21                  Separated       Other-service        Unmarried
22         Married-civ-spouse     Farming-fishing          Husband
23         Married-civ-spouse    Transport-moving          Husband
24                   Divorced        Tech-support        Unmarried
25         Married-civ-spouse        Tech-support          Husband
26              Never-married        Craft-repair        Own-child
27         Married-civ-spouse                   ?          Husband
28                   Divorced     Exec-managerial    Not-in-family
29         Married-civ-spouse        Craft-repair          Husband
...                       ...                 ...              ...
32531           Never-married                   ?    Not-in-family
32532      Married-civ-spouse      Prof-specialty          Husband
32533      Married-civ-spouse     Exec-managerial          Husband
32534                Divorced        Adm-clerical        Unmarried
32535           Never-married     Protective-serv        Own-child
32536           Never-married     Exec-managerial    Not-in-family
32537           Never-married        Craft-repair    Not-in-family
32538                Divorced      Prof-specialty        Unmarried
32539      Married-civ-spouse                   ?          Husband
32540               Separated        Adm-clerical        Own-child
32541               Separated                   ?    Not-in-family
32542      Married-civ-spouse                   ?          Husband
32543                Divorced      Prof-specialty        Unmarried
32544                Divorced       Other-service    Not-in-family
32545      Married-civ-spouse        Adm-clerical             Wife
32546                Divorced        Tech-support    Not-in-family
32547      Married-civ-spouse   Machine-op-inspct          Husband
32548           Never-married      Prof-specialty    Not-in-family
32549                Divorced        Adm-clerical   Other-relative
32550      Married-civ-spouse        Craft-repair          Husband
32551      Married-civ-spouse   Handlers-cleaners          Husband
32552      Married-civ-spouse               Sales          Husband
32553           Never-married        Tech-support    Not-in-family
32554      Married-civ-spouse     Exec-managerial          Husband
32555           Never-married     Protective-serv    Not-in-family
32556      Married-civ-spouse        Tech-support             Wife
32557      Married-civ-spouse   Machine-op-inspct          Husband
32558                 Widowed        Adm-clerical        Unmarried
32559           Never-married        Adm-clerical        Own-child
32560      Married-civ-spouse     Exec-managerial             Wife

                      race      sex  capital-gain  capital-loss  \
0                    White     Male          2174             0
1                    White     Male             0             0
2                    White     Male             0             0
3                    Black     Male             0             0
4                    Black   Female             0             0
5                    White   Female             0             0
6                    Black   Female             0             0
7                    White     Male             0             0
8                    White   Female         14084             0
9                    White     Male          5178             0
10                   Black     Male             0             0
11      Asian-Pac-Islander     Male             0             0
12                   White   Female             0             0
13                   Black     Male             0             0
14      Asian-Pac-Islander     Male             0             0
15      Amer-Indian-Eskimo     Male             0             0
16                   White     Male             0             0
17                   White     Male             0             0
18                   White     Male             0             0
19                   White   Female             0             0
20                   White     Male             0             0
21                   Black   Female             0             0
22                   Black     Male             0             0
23                   White     Male             0          2042
24                   White   Female             0             0
25                   White     Male             0             0
26                   White     Male             0             0
27      Asian-Pac-Islander     Male             0             0
28                   White     Male             0             0
29                   White     Male             0             0
...                    ...      ...           ...           ...
32531   Asian-Pac-Islander   Female             0             0
32532                White     Male             0             0
32533   Asian-Pac-Islander     Male             0             0
32534                White   Female             0             0
32535                Black     Male             0             0
32536                White   Female             0             0
32537                Black     Male             0             0
32538                Black   Female         15020             0
32539                White     Male             0             0
32540                White   Female             0             0
32541                Black   Female             0             0
32542                White     Male             0             0
32543                White   Female             0             0
32544                Other   Female             0             0
32545                White   Female             0             0
32546                White   Female             0             0
32547                White     Male             0             0
32548                White     Male          1086             0
32549                White   Female             0             0
32550                White     Male             0             0
32551   Amer-Indian-Eskimo     Male             0             0
32552                White     Male             0             0
32553   Asian-Pac-Islander     Male             0             0
32554                White     Male             0             0
32555                White     Male             0             0
32556                White   Female             0             0
32557                White     Male             0             0
32558                White   Female             0             0
32559                White     Male             0             0
32560                White   Female         15024             0

       hours-per-week  native-country   money
0                  40   United-States   <=50K
1                  13   United-States   <=50K
2                  40   United-States   <=50K
3                  40   United-States   <=50K
4                  40            Cuba   <=50K
5                  40   United-States   <=50K
6                  16         Jamaica   <=50K
7                  45   United-States    >50K
8                  50   United-States    >50K
9                  40   United-States    >50K
10                 80   United-States    >50K
11                 40           India    >50K
12                 30   United-States   <=50K
13                 50   United-States   <=50K
14                 40               ?    >50K
15                 45          Mexico   <=50K
16                 35   United-States   <=50K
17                 40   United-States   <=50K
18                 50   United-States   <=50K
19                 45   United-States    >50K
20                 60   United-States    >50K
21                 20   United-States   <=50K
22                 40   United-States   <=50K
23                 40   United-States   <=50K
24                 40   United-States   <=50K
25                 40   United-States    >50K
26                 40   United-States   <=50K
27                 60           South    >50K
28                 80   United-States   <=50K
29                 40   United-States   <=50K
...               ...             ...     ...
32531              99   United-States   <=50K
32532              60   United-States    >50K
32533              50           Japan    >50K
32534              39   United-States   <=50K
32535              35   United-States   <=50K
32536              55   United-States    >50K
32537              46   United-States   <=50K
32538              45   United-States    >50K
32539              10   United-States    >50K
32540              40   United-States   <=50K
32541              32   United-States   <=50K
32542              25   United-States   <=50K
32543              48   United-States   <=50K
32544              30   United-States   <=50K
32545              20   United-States    >50K
32546              40   United-States   <=50K
32547              40          Mexico   <=50K
32548              60   United-States   <=50K
32549              40   United-States   <=50K
32550              50   United-States   <=50K
32551              40   United-States   <=50K
32552              45   United-States   <=50K
32553              11          Taiwan   <=50K
32554              40   United-States    >50K
32555              40   United-States   <=50K
32556              38   United-States   <=50K
32557              40   United-States    >50K
32558              40   United-States   <=50K
32559              20   United-States   <=50K
32560              40   United-States    >50K

[32561 rows x 15 columns]>

In [207]:
adult_test.count #[16281 rows x 15 columns]>

<bound method DataFrame.count of        age          workclass  fnlwgt      education  education-num  \
0       25            Private  226802           11th              7
1       38            Private   89814        HS-grad              9
2       28          Local-gov  336951     Assoc-acdm             12
3       44            Private  160323   Some-college             10
4       18                  ?  103497   Some-college             10
5       34            Private  198693           10th              6
6       29                  ?  227026        HS-grad              9
7       63   Self-emp-not-inc  104626    Prof-school             15
8       24            Private  369667   Some-college             10
9       55            Private  104996        7th-8th              4
10      65            Private  184454        HS-grad              9
11      36        Federal-gov  212465      Bachelors             13
12      26            Private   82091        HS-grad              9
13      58                  ?  299831        HS-grad              9
14      48            Private  279724        HS-grad              9
15      43            Private  346189        Masters             14
16      20          State-gov  444554   Some-college             10
17      43            Private  128354        HS-grad              9
18      37            Private   60548        HS-grad              9
19      40            Private   85019      Doctorate             16
20      34            Private  107914      Bachelors             13
21      34            Private  238588   Some-college             10
22      72                  ?  132015        7th-8th              4
23      25            Private  220931      Bachelors             13
24      25            Private  205947      Bachelors             13
25      45   Self-emp-not-inc  432824        HS-grad              9
26      22            Private  236427        HS-grad              9
27      23            Private  134446        HS-grad              9
28      54            Private   99516        HS-grad              9
29      32   Self-emp-not-inc  109282   Some-college             10
...    ...                ...     ...            ...            ...
16251   81                  ?   26711      Assoc-voc             11
16252   60            Private  117909      Assoc-voc             11
16253   39            Private  229647      Bachelors             13
16254   38            Private  149347        Masters             14
16255   43          Local-gov   23157        Masters             14
16256   23            Private   93977        HS-grad              9
16257   73       Self-emp-inc  159691   Some-college             10
16258   35            Private  176967   Some-college             10
16259   66            Private  344436        HS-grad              9
16260   27            Private  430340   Some-college             10
16261   40            Private  202168    Prof-school             15
16262   51            Private   82720        HS-grad              9
16263   22            Private  269623   Some-college             10
16264   64   Self-emp-not-inc  136405        HS-grad              9
16265   50          Local-gov  139347        Masters             14
16266   55            Private  224655        HS-grad              9
16267   38            Private  247547      Assoc-voc             11
16268   58            Private  292710     Assoc-acdm             12
16269   32            Private  173449        HS-grad              9
16270   48            Private  285570        HS-grad              9
16271   61            Private   89686        HS-grad              9
16272   31            Private  440129        HS-grad              9
16273   25            Private  350977        HS-grad              9
16274   48          Local-gov  349230        Masters             14
16275   33            Private  245211      Bachelors             13
16276   39            Private  215419      Bachelors             13
16277   64                  ?  321403        HS-grad              9
16278   38            Private  374983      Bachelors             13
16279   44            Private   83891      Bachelors             13
16280   35       Self-emp-inc  182148      Bachelors             13

            marital-status          occupation     relationship  \
0            Never-married   Machine-op-inspct        Own-child
1       Married-civ-spouse     Farming-fishing          Husband
2       Married-civ-spouse     Protective-serv          Husband
3       Married-civ-spouse   Machine-op-inspct          Husband
4            Never-married                   ?        Own-child
5            Never-married       Other-service    Not-in-family
6            Never-married                   ?        Unmarried
7       Married-civ-spouse      Prof-specialty          Husband
8            Never-married       Other-service        Unmarried
9       Married-civ-spouse        Craft-repair          Husband
10      Married-civ-spouse   Machine-op-inspct          Husband
11      Married-civ-spouse        Adm-clerical          Husband
12           Never-married        Adm-clerical    Not-in-family
13      Married-civ-spouse                   ?          Husband
14      Married-civ-spouse   Machine-op-inspct          Husband
15      Married-civ-spouse     Exec-managerial          Husband
16           Never-married       Other-service        Own-child
17      Married-civ-spouse        Adm-clerical             Wife
18                 Widowed   Machine-op-inspct        Unmarried
19      Married-civ-spouse      Prof-specialty          Husband
20      Married-civ-spouse        Tech-support          Husband
21           Never-married       Other-service        Own-child
22                Divorced                   ?    Not-in-family
23           Never-married      Prof-specialty    Not-in-family
24      Married-civ-spouse      Prof-specialty          Husband
25      Married-civ-spouse        Craft-repair          Husband
26           Never-married        Adm-clerical        Own-child
27               Separated   Machine-op-inspct        Unmarried
28      Married-civ-spouse        Craft-repair          Husband
29           Never-married      Prof-specialty    Not-in-family
...                    ...                 ...              ...
16251   Married-civ-spouse                   ?          Husband
16252   Married-civ-spouse      Prof-specialty          Husband
16253        Never-married        Tech-support    Not-in-family
16254   Married-civ-spouse      Prof-specialty          Husband
16255   Married-civ-spouse     Exec-managerial          Husband
16256        Never-married   Machine-op-inspct        Own-child
16257             Divorced     Exec-managerial    Not-in-family
16258   Married-civ-spouse     Protective-serv          Husband
16259              Widowed               Sales   Other-relative
16260        Never-married               Sales    Not-in-family
16261   Married-civ-spouse      Prof-specialty          Husband
16262   Married-civ-spouse        Craft-repair          Husband
16263        Never-married        Craft-repair        Own-child
16264              Widowed     Farming-fishing    Not-in-family
16265   Married-civ-spouse      Prof-specialty             Wife
16266            Separated     Priv-house-serv    Not-in-family
16267        Never-married        Adm-clerical        Unmarried
16268             Divorced      Prof-specialty    Not-in-family
16269   Married-civ-spouse   Handlers-cleaners          Husband
16270   Married-civ-spouse        Adm-clerical          Husband
16271   Married-civ-spouse               Sales          Husband
16272   Married-civ-spouse        Craft-repair          Husband
16273        Never-married       Other-service        Own-child
16274             Divorced       Other-service    Not-in-family
16275        Never-married      Prof-specialty        Own-child
16276             Divorced      Prof-specialty    Not-in-family
16277              Widowed                   ?   Other-relative
16278   Married-civ-spouse      Prof-specialty          Husband
16279             Divorced        Adm-clerical        Own-child
16280   Married-civ-spouse     Exec-managerial          Husband

                      race      sex  capital-gain  capital-loss  \
0                    Black     Male             0             0
1                    White     Male             0             0
2                    White     Male             0             0
3                    Black     Male          7688             0
4                    White   Female             0             0
5                    White     Male             0             0
6                    Black     Male             0             0
7                    White     Male          3103             0
8                    White   Female             0             0
9                    White     Male             0             0
10                   White     Male          6418             0
11                   White     Male             0             0
12                   White   Female             0             0
13                   White     Male             0             0
14                   White     Male          3103             0
15                   White     Male             0             0
16                   White     Male             0             0
17                   White   Female             0             0
18                   White   Female             0             0
19      Asian-Pac-Islander     Male             0             0
20                   White     Male             0             0
21                   Black   Female             0             0
22                   White   Female             0             0
23                   White     Male             0             0
24                   White     Male             0             0
25                   White     Male          7298             0
26                   White     Male             0             0
27                   Black     Male             0             0
28                   White     Male             0             0
29                   White     Male             0             0
...                    ...      ...           ...           ...
16251                White     Male          2936             0
16252                White     Male          7688             0
16253                White   Female             0          1669
16254                White     Male             0             0
16255                White     Male             0          1902
16256                White     Male             0             0
16257                White   Female             0             0
16258                White     Male             0             0
16259                White   Female             0             0
16260                White   Female             0             0
16261                White     Male         15024             0
16262                White     Male             0             0
16263                White     Male             0             0
16264                White     Male             0             0
16265                White   Female             0             0
16266                White   Female             0             0
16267                Black   Female             0             0
16268                White     Male             0             0
16269                White     Male             0             0
16270                White     Male             0             0
16271                White     Male             0             0
16272                White     Male             0             0
16273                White   Female             0             0
16274                White     Male             0             0
16275                White     Male             0             0
16276                White   Female             0             0
16277                Black     Male             0             0
16278                White     Male             0             0
16279   Asian-Pac-Islander     Male          5455             0
16280                White     Male             0             0

       hours-per-week  native-country   money
0                  40   United-States   <=50K
1                  50   United-States   <=50K
2                  40   United-States    >50K
3                  40   United-States    >50K
4                  30   United-States   <=50K
5                  30   United-States   <=50K
6                  40   United-States   <=50K
7                  32   United-States    >50K
8                  40   United-States   <=50K
9                  10   United-States   <=50K
10                 40   United-States    >50K
11                 40   United-States   <=50K
12                 39   United-States   <=50K
13                 35   United-States   <=50K
14                 48   United-States    >50K
15                 50   United-States    >50K
16                 25   United-States   <=50K
17                 30   United-States   <=50K
18                 20   United-States   <=50K
19                 45               ?    >50K
20                 47   United-States    >50K
21                 35   United-States   <=50K
22                  6   United-States   <=50K
23                 43            Peru   <=50K
24                 40   United-States   <=50K
25                 90   United-States    >50K
26                 20   United-States   <=50K
27                 54   United-States   <=50K
28                 35   United-States   <=50K
29                 60   United-States   <=50K
...               ...             ...     ...
16251              20   United-States   <=50K
16252              40   United-States    >50K
16253              40   United-States   <=50K
16254              50   United-States    >50K
16255              50   United-States    >50K
16256              40   United-States   <=50K
16257              40   United-States   <=50K
16258              40   United-States   <=50K
16259               8   United-States   <=50K
16260              45   United-States   <=50K
16261              55   United-States    >50K
16262              40   United-States   <=50K
16263              40   United-States   <=50K
16264              32   United-States   <=50K
16265              40               ?    >50K
16266              32   United-States   <=50K
16267              40   United-States   <=50K
16268              36   United-States   <=50K
16269              40   United-States   <=50K
16270              40   United-States   <=50K
16271              48   United-States   <=50K
16272              40   United-States   <=50K
16273              40   United-States   <=50K
16274              40   United-States   <=50K
16275              40   United-States   <=50K
16276              36   United-States   <=50K
16277              40   United-States   <=50K
16278              50   United-States   <=50K
16279              40   United-States   <=50K
16280              60   United-States    >50K

[16281 rows x 15 columns]>

In [208]:
#dropna

In [209]:
adult_train_X = adult.iloc[:32561, :-2]
adult_train_y = adult.iloc[:32561, -2]
adult_test_X = adult.iloc[32561:, :-2]
adult_test_y = adult.iloc[32561:, -2]

In [210]:
adult.count

<bound method DataFrame.count of        age  fnlwgt  education-num  capital-gain  capital-loss  hours-per-week  \
0       25  226802              7             0             0              40
1       38   89814              9             0             0              50
2       28  336951             12             0             0              40
3       44  160323             10          7688             0              40
4       18  103497             10             0             0              30
5       34  198693              6             0             0              30
6       29  227026              9             0             0              40
7       63  104626             15          3103             0              32
8       24  369667             10             0             0              40
9       55  104996              4             0             0              10
10      65  184454              9          6418             0              40
11      36  212465             13             0             0              40
12      26   82091              9             0             0              39
13      58  299831              9             0             0              35
14      48  279724              9          3103             0              48
15      43  346189             14             0             0              50
16      20  444554             10             0             0              25
17      43  128354              9             0             0              30
18      37   60548              9             0             0              20
19      40   85019             16             0             0              45
20      34  107914             13             0             0              47
21      34  238588             10             0             0              35
22      72  132015              4             0             0               6
23      25  220931             13             0             0              43
24      25  205947             13             0             0              40
25      45  432824              9          7298             0              90
26      22  236427              9             0             0              20
27      23  134446              9             0             0              54
28      54   99516              9             0             0              35
29      32  109282             10             0             0              60
...    ...     ...            ...           ...           ...             ...
16251   81   26711             11          2936             0              20
16252   60  117909             11          7688             0              40
16253   39  229647             13             0          1669              40
16254   38  149347             14             0             0              50
16255   43   23157             14             0          1902              50
16256   23   93977              9             0             0              40
16257   73  159691             10             0             0              40
16258   35  176967             10             0             0              40
16259   66  344436              9             0             0               8
16260   27  430340             10             0             0              45
16261   40  202168             15         15024             0              55
16262   51   82720              9             0             0              40
16263   22  269623             10             0             0              40
16264   64  136405              9             0             0              32
16265   50  139347             14             0             0              40
16266   55  224655              9             0             0              32
16267   38  247547             11             0             0              40
16268   58  292710             12             0             0              36
16269   32  173449              9             0             0              40
16270   48  285570              9             0             0              40
16271   61   89686              9             0             0              48
16272   31  440129              9             0             0              40
16273   25  350977              9             0             0              40
16274   48  349230             14             0             0              40
16275   33  245211             13             0             0              40
16276   39  215419             13             0             0              36
16277   64  321403              9             0             0              40
16278   38  374983             13             0             0              50
16279   44   83891             13          5455             0              40
16280   35  182148             13             0             0              60

       workclass_ ?  workclass_ Federal-gov  workclass_ Local-gov  \
0                 0                       0                     0
1                 0                       0                     0
2                 0                       0                     1
3                 0                       0                     0
4                 1                       0                     0
5                 0                       0                     0
6                 1                       0                     0
7                 0                       0                     0
8                 0                       0                     0
9                 0                       0                     0
10                0                       0                     0
11                0                       1                     0
12                0                       0                     0
13                1                       0                     0
14                0                       0                     0
15                0                       0                     0
16                0                       0                     0
17                0                       0                     0
18                0                       0                     0
19                0                       0                     0
20                0                       0                     0
21                0                       0                     0
22                1                       0                     0
23                0                       0                     0
24                0                       0                     0
25                0                       0                     0
26                0                       0                     0
27                0                       0                     0
28                0                       0                     0
29                0                       0                     0
...             ...                     ...                   ...
16251             1                       0                     0
16252             0                       0                     0
16253             0                       0                     0
16254             0                       0                     0
16255             0                       0                     1
16256             0                       0                     0
16257             0                       0                     0
16258             0                       0                     0
16259             0                       0                     0
16260             0                       0                     0
16261             0                       0                     0
16262             0                       0                     0
16263             0                       0                     0
16264             0                       0                     0
16265             0                       0                     1
16266             0                       0                     0
16267             0                       0                     0
16268             0                       0                     0
16269             0                       0                     0
16270             0                       0                     0
16271             0                       0                     0
16272             0                       0                     0
16273             0                       0                     0
16274             0                       0                     1
16275             0                       0                     0
16276             0                       0                     0
16277             1                       0                     0
16278             0                       0                     0
16279             0                       0                     0
16280             0                       0                     0

       workclass_ Never-worked  ...  native-country_ Scotland  \
0                            0  ...                         0
1                            0  ...                         0
2                            0  ...                         0
3                            0  ...                         0
4                            0  ...                         0
5                            0  ...                         0
6                            0  ...                         0
7                            0  ...                         0
8                            0  ...                         0
9                            0  ...                         0
10                           0  ...                         0
11                           0  ...                         0
12                           0  ...                         0
13                           0  ...                         0
14                           0  ...                         0
15                           0  ...                         0
16                           0  ...                         0
17                           0  ...                         0
18                           0  ...                         0
19                           0  ...                         0
20                           0  ...                         0
21                           0  ...                         0
22                           0  ...                         0
23                           0  ...                         0
24                           0  ...                         0
25                           0  ...                         0
26                           0  ...                         0
27                           0  ...                         0
28                           0  ...                         0
29                           0  ...                         0
...                        ...  ...                       ...
16251                        0  ...                         0
16252                        0  ...                         0
16253                        0  ...                         0
16254                        0  ...                         0
16255                        0  ...                         0
16256                        0  ...                         0
16257                        0  ...                         0
16258                        0  ...                         0
16259                        0  ...                         0
16260                        0  ...                         0
16261                        0  ...                         0
16262                        0  ...                         0
16263                        0  ...                         0
16264                        0  ...                         0
16265                        0  ...                         0
16266                        0  ...                         0
16267                        0  ...                         0
16268                        0  ...                         0
16269                        0  ...                         0
16270                        0  ...                         0
16271                        0  ...                         0
16272                        0  ...                         0
16273                        0  ...                         0
16274                        0  ...                         0
16275                        0  ...                         0
16276                        0  ...                         0
16277                        0  ...                         0
16278                        0  ...                         0
16279                        0  ...                         0
16280                        0  ...                         0

       native-country_ South  native-country_ Taiwan  \
0                          0                       0
1                          0                       0
2                          0                       0
3                          0                       0
4                          0                       0
5                          0                       0
6                          0                       0
7                          0                       0
8                          0                       0
9                          0                       0
10                         0                       0
11                         0                       0
12                         0                       0
13                         0                       0
14                         0                       0
15                         0                       0
16                         0                       0
17                         0                       0
18                         0                       0
19                         0                       0
20                         0                       0
21                         0                       0
22                         0                       0
23                         0                       0
24                         0                       0
25                         0                       0
26                         0                       0
27                         0                       0
28                         0                       0
29                         0                       0
...                      ...                     ...
16251                      0                       0
16252                      0                       0
16253                      0                       0
16254                      0                       0
16255                      0                       0
16256                      0                       0
16257                      0                       0
16258                      0                       0
16259                      0                       0
16260                      0                       0
16261                      0                       0
16262                      0                       0
16263                      0                       0
16264                      0                       0
16265                      0                       0
16266                      0                       0
16267                      0                       0
16268                      0                       0
16269                      0                       0
16270                      0                       0
16271                      0                       0
16272                      0                       0
16273                      0                       0
16274                      0                       0
16275                      0                       0
16276                      0                       0
16277                      0                       0
16278                      0                       0
16279                      0                       0
16280                      0                       0

       native-country_ Thailand  native-country_ Trinadad&Tobago  \
0                             0                                0
1                             0                                0
2                             0                                0
3                             0                                0
4                             0                                0
5                             0                                0
6                             0                                0
7                             0                                0
8                             0                                0
9                             0                                0
10                            0                                0
11                            0                                0
12                            0                                0
13                            0                                0
14                            0                                0
15                            0                                0
16                            0                                0
17                            0                                0
18                            0                                0
19                            0                                0
20                            0                                0
21                            0                                0
22                            0                                0
23                            0                                0
24                            0                                0
25                            0                                0
26                            0                                0
27                            0                                0
28                            0                                0
29                            0                                0
...                         ...                              ...
16251                         0                                0
16252                         0                                0
16253                         0                                0
16254                         0                                0
16255                         0                                0
16256                         0                                0
16257                         0                                0
16258                         0                                0
16259                         0                                0
16260                         0                                0
16261                         0                                0
16262                         0                                0
16263                         0                                0
16264                         0                                0
16265                         0                                0
16266                         0                                0
16267                         0                                0
16268                         0                                0
16269                         0                                0
16270                         0                                0
16271                         0                                0
16272                         0                                0
16273                         0                                0
16274                         0                                0
16275                         0                                0
16276                         0                                0
16277                         0                                0

In [189]:
adult_test_X

Empty DataFrame
Columns: [age, fnlwgt, education-num, capital-gain, capital-loss, hours-per-week, workclass_ ?, workclass_ Federal-gov, workclass_ Local-gov, workclass_ Never-worked, workclass_ Private, workclass_ Self-emp-inc, workclass_ Self-emp-not-inc, workclass_ State-gov, workclass_ Without-pay, education_ 10th, education_ 11th, education_ 12th, education_ 1st-4th, education_ 5th-6th, education_ 7th-8th, education_ 9th, education_ Assoc-acdm, education_ Assoc-voc, education_ Bachelors, education_ Doctorate, education_ HS-grad, education_ Masters, education_ Preschool, education_ Prof-school, education_ Some-college, marital-status_ Divorced, marital-status_ Married-AF-spouse, marital-status_ Married-civ-spouse, marital-status_ Married-spouse-absent, marital-status_ Never-married, marital-status_ Separated, marital-status_ Widowed, occupation_ ?, occupation_ Adm-clerical, occupation_ Armed-Forces, occupation_ Craft-repair, occupation_ Exec-managerial, occupation_ Farming-fishing, occupation_ Handlers-cleaners, occupation_ Machine-op-inspct, occupation_ Other-service, occupation_ Priv-house-serv, occupation_ Prof-specialty, occupation_ Protective-serv, occupation_ Sales, occupation_ Tech-support, occupation_ Transport-moving, relationship_ Husband, relationship_ Not-in-family, relationship_ Other-relative, relationship_ Own-child, relationship_ Unmarried, relationship_ Wife, race_ Amer-Indian-Eskimo, race_ Asian-Pac-Islander, race_ Black, race_ Other, race_ White, sex_ Female, sex_ Male, native-country_ ?, native-country_ Cambodia, native-country_ Canada, native-country_ China, native-country_ Columbia, native-country_ Cuba, native-country_ Dominican-Republic, native-country_ Ecuador, native-country_ El-Salvador, native-country_ England, native-country_ France, native-country_ Germany, native-country_ Greece, native-country_ Guatemala, native-country_ Haiti, native-country_ Honduras, native-country_ Hong, native-country_ Hungary, native-country_ India, native-country_ Iran, native-country_ Ireland, native-country_ Italy, native-country_ Jamaica, native-country_ Japan, native-country_ Laos, native-country_ Mexico, native-country_ Nicaragua, native-country_ Outlying-US(Guam-USVI-etc), native-country_ Peru, native-country_ Philippines, native-country_ Poland, native-country_ Portugal, native-country_ Puerto-Rico, native-country_ Scotland, ...]
Index: []

[0 rows x 107 columns]

In [190]:
adult_test_y

Series([], Name: money_ <=50K, dtype: uint8)

In [191]:
from sklearn.tree import DecisionTreeClassifier
dt = DecisionTreeClassifier().fit(adult_train_X, adult_train_y)
dt.score(adult_train_X, adult_train_y), dt.score(adult_test_X, adult_test_y)

ValueError: Found array with 0 sample(s) (shape=(0, 107)) while a minimum of 1 is required.

In [ ]:
from sklearn.ensemble import GradientBoostingClassifier
gbc = GradientBoostingClassifier(random_state=0).fit(X_train, y_train)
gbc.score(X_train, y_train), gbc.score(X_test, y_test)